*~
*.o
*.exe
*.dll
GPATH
GRTAGS
GTAGS
assignment-11/assignment_11
/assignment-11/libdsassignments.so
/assignment-11/assignment-1.1
/.sconsign.dblite
*.os
*.a
*_latexmk
*.fls
/assignment-11/assignment11
/assignment-12/assignment12
/assignment-13/assignment13
.sconf_temp
/config.log
.hg
/site_scons/site_tools/doxygen/.hgignore
/assignment-14/assignment14
/assignment-15/assignment15
/assignment-16/assignment16
/assignment-17/assignment17
/assignment-18/assignment18
